/* ======================================================
   LOADER
====================================================== */

#loader {

    position: fixed;

    inset: 0;

    background: #000;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 99999;

}

#loader h1 {

    font-size: 60px;

    font-weight: 800;

    letter-spacing: 12px;

}

/* ======================================================
   PREMIUM LOADER
====================================================== */

#loader {

    position: fixed;

    inset: 0;

    background: #000;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 999999;

    transition: .8s;

}

.loader-content {

    text-align: center;

}

.loader-content h1 {

    font-size: 60px;

    letter-spacing: 12px;

    margin-bottom: 15px;

    font-weight: 800;

    text-shadow:0 0 20px rgba(255,255,255,.4);
}

.loader-content p {

    color: #9f9f9f;

    margin-bottom: 30px;

    letter-spacing: 3px;

}

.loading-bar {

    width: 260px;

    height: 5px;

    background: #1b1b1b;

    border-radius: 20px;

    overflow: hidden;

}

.loading-progress {

    width: 0;

    height: 100%;

    background: white;

    animation: loading 2s ease forwards;

}

@keyframes loading {

    from {

        width: 0;

    }

    to {

        width: 100%;

    }

}